## 1. 데이터 불러오기

In [1]:
import pandas as pd

path = "dbs/DataProcess_.csv" # DataPreprocess_.csv
df = pd.read_csv(path)
df

   Unnamed: 0  France  Germany  Spain       Age        Salary  Purchased
0           0     1.0      0.0    0.0  0.758874  7.494733e-01          0
1           1     0.0      0.0    1.0 -1.711504 -1.438178e+00          1
2           2     0.0      1.0    0.0 -1.275555 -8.912655e-01          0
3           3     0.0      0.0    1.0 -0.113024 -2.532004e-01          0
4           4     0.0      1.0    0.0  0.177609  6.632192e-16          1
5           5     1.0      0.0    0.0 -0.548973 -5.266569e-01          1
6           6     0.0      0.0    1.0  0.000000 -1.073570e+00          0
7           7     1.0      0.0    0.0  1.340140  1.387538e+00          1
8           8     0.0      1.0    0.0  1.630773  1.752147e+00          0
9           9     1.0      0.0    0.0 -0.258340  2.937125e-01          1

In [2]:
del df['Unnamed: 0']
df

   France  Germany  Spain       Age        Salary  Purchased
0     1.0      0.0    0.0  0.758874  7.494733e-01          0
1     0.0      0.0    1.0 -1.711504 -1.438178e+00          1
2     0.0      1.0    0.0 -1.275555 -8.912655e-01          0
3     0.0      0.0    1.0 -0.113024 -2.532004e-01          0
4     0.0      1.0    0.0  0.177609  6.632192e-16          1
5     1.0      0.0    0.0 -0.548973 -5.266569e-01          1
6     0.0      0.0    1.0  0.000000 -1.073570e+00          0
7     1.0      0.0    0.0  1.340140  1.387538e+00          1
8     0.0      1.0    0.0  1.630773  1.752147e+00          0
9     1.0      0.0    0.0 -0.258340  2.937125e-01          1

In [3]:
x = df.values[:,:-1]
y = df.values[:,-1]

In [4]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
                                x, y, test_size = 0.2 , random_state=0)

In [5]:
from sklearn import datasets
iris = datasets.load_iris()

## 2. 나이브 베이즈

In [6]:
result = dict()
iris_result = dict()

In [7]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB(priors=None)

In [8]:
gnb.predict(x_test)

array([1., 1.])

In [9]:
result['NB'] = gnb.score(x_test, y_test)

In [10]:
iris_x = iris.data
iris_y = iris.target

iris_x_train, iris_x_test, iris_y_train, iris_y_test = train_test_split(
                                iris_x, iris_y, test_size = 0.2 , random_state=0)

In [11]:
gnb = GaussianNB()
gnb.fit(iris_x_train, iris_y_train)

GaussianNB(priors=None)

In [12]:
gnb.predict(iris_x_test)

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0])

In [13]:
iris_result['NB'] = gnb.score(iris_x_test, iris_y_test)

## 3. KNN

In [14]:
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [15]:
neigh.predict(x_test)

array([1., 1.])

In [16]:
result['KNN'] = neigh.score(x_test, y_test)

In [17]:
iris_neigh = KNeighborsClassifier(n_neighbors=3)
iris_neigh.fit(iris_x_train, iris_y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [18]:
iris_neigh.predict(iris_x_test)

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 2, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0])

In [19]:
iris_result['KNN'] = iris_neigh.score(iris_x_test, iris_y_test)

## 4. SVM

In [20]:
from sklearn.svm import SVC

svm = SVC()
svm.fit(x_train, y_train)

iris_svm = SVC()
iris_svm.fit(iris_x_train, iris_y_train)

result['SVM'] = (svm.score(x_test, y_test))
iris_result['SVM'] = (iris_svm.score(iris_x_test, iris_y_test))

## 5. Decision Tree

In [21]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier()
tree.fit(x_train, y_train)

iris_tree = DecisionTreeClassifier()
iris_tree.fit(iris_x_train, iris_y_train)

result['Decision Tree'] = (tree.score(x_test, y_test))
iris_result['Decision Tree'] = (iris_tree.score(iris_x_test, iris_y_test))


## 6. RandomForest

In [22]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(x_train, y_train)

iris_rf = RandomForestClassifier()
iris_rf.fit(iris_x_train, iris_y_train)

result['RandomForest'] = (rf.score(x_test, y_test))
iris_result['RandomForest'] = (iris_rf.score(iris_x_test, iris_y_test))

## 7. Logistic Regression

In [23]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(x_train, y_train)

iris_lr = LogisticRegression()
iris_lr.fit(iris_x_train, iris_y_train)

result['Logistic Reg'] = (lr.score(x_test, y_test))
iris_result['Logistic Reg'] = (iris_lr.score(iris_x_test, iris_y_test))

In [24]:
result

{'NB': 0.0,
 'KNN': 0.0,
 'SVM': 0.0,
 'Decision Tree': 0.0,
 'RandomForest': 0.5,
 'Logistic Reg': 0.5}

In [25]:
iris_result

{'NB': 0.9666666666666667,
 'KNN': 0.9666666666666667,
 'SVM': 1.0,
 'Decision Tree': 1.0,
 'RandomForest': 0.9666666666666667,
 'Logistic Reg': 0.9666666666666667}

In [27]:
pd.DataFrame({'Purchased':result, 'iris':iris_result}).T

           Decision Tree       KNN  Logistic Reg        NB  RandomForest  SVM
Purchased            0.0  0.000000      0.500000  0.000000      0.500000  0.0
iris                 1.0  0.966667      0.966667  0.966667      0.966667  1.0