## 데이터 불러오기

In [5]:
import pandas as pd

path = '50_Startups.csv'
df1 = pd.read_csv(path) 
df1.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [25]:
x = df1.values[:,:-2]
y = df1.values[:,-1] 
x, y

(array([[165349.2, 136897.8, 471784.1],
        [162597.7, 151377.59, 443898.53],
        [153441.51, 101145.55, 407934.54],
        [144372.41, 118671.85, 383199.62],
        [142107.34, 91391.77, 366168.42],
        [131876.9, 99814.71, 362861.36],
        [134615.46, 147198.87, 127716.82],
        [130298.13, 145530.06, 323876.68],
        [120542.52, 148718.95, 311613.29],
        [123334.88, 108679.17, 304981.62],
        [101913.08, 110594.11, 229160.95],
        [100671.96, 91790.61, 249744.55],
        [93863.75, 127320.38, 249839.44],
        [91992.39, 135495.07, 252664.93],
        [119943.24, 156547.42, 256512.92],
        [114523.61, 122616.84, 261776.23],
        [78013.11, 121597.55, 264346.06],
        [94657.16, 145077.58, 282574.31],
        [91749.16, 114175.79, 294919.57],
        [86419.7, 153514.11, 0.0],
        [76253.86, 113867.3, 298664.47],
        [78389.47, 153773.43, 299737.29],
        [73994.56, 122782.75, 303319.26],
        [67532.53, 105751.03, 304768.73],
        [77044.01, 99281.34, 140574.81],
        [64664.71, 139553.16, 137962.62],
        [75328.87, 144135.98, 134050.07],
        [72107.6, 127864.55, 353183.81],
        [66051.52, 182645.56, 118148.2],
        [65605.48, 153032.06, 107138.38],
        [61994.48, 115641.28, 91131.24],
        [61136.38, 152701.92, 88218.23],
        [63408.86, 129219.61, 46085.25],
        [55493.95, 103057.49, 214634.81],
        [46426.07, 157693.92, 210797.67],
        [46014.02, 85047.44, 205517.64],
        [28663.76, 127056.21, 201126.82],
        [44069.95, 51283.14, 197029.42],
        [20229.59, 65947.93, 185265.1],
        [38558.51, 82982.09, 174999.3],
        [28754.33, 118546.05, 172795.67],
        [27892.92, 84710.77, 164470.71],
        [23640.93, 96189.63, 148001.11],
        [15505.73, 127382.3, 35534.17],
        [22177.74, 154806.14, 28334.72],
        [1000.23, 124153.04, 1903.93],
        [1315.46, 115816.21, 297114.46],
        [0.0, 135426.92, 0.0],
        [542.05, 51743.15, 0.0],
        [0.0, 116983.8, 45173.06]], dtype=object),
 array([192261.83, 191792.06, 191050.39, 182901.99, 166187.94, 156991.12,
        156122.51, 155752.6, 152211.77, 149759.96, 146121.95, 144259.4,
        141585.52, 134307.35, 132602.65, 129917.04, 126992.93, 125370.37,
        124266.9, 122776.86, 118474.03, 111313.02, 110352.25, 108733.99,
        108552.04, 107404.34, 105733.54, 105008.31, 103282.38, 101004.64,
        99937.59, 97483.56, 97427.84, 96778.92, 96712.8, 96479.51,
        90708.19, 89949.14, 81229.06, 81005.76, 78239.91, 77798.83,
        71498.49, 69758.98, 65200.33, 64926.08, 49490.75, 42559.73,
        35673.41, 14681.4], dtype=object))

In [24]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
x_train, x_test

(array([[55493.95, 103057.49, 214634.81],
        [46014.02, 85047.44, 205517.64],
        [75328.87, 144135.98, 134050.07],
        [46426.07, 157693.92, 210797.67],
        [91749.16, 114175.79, 294919.57],
        [130298.13, 145530.06, 323876.68],
        [119943.24, 156547.42, 256512.92],
        [1000.23, 124153.04, 1903.93],
        [542.05, 51743.15, 0.0],
        [65605.48, 153032.06, 107138.38],
        [114523.61, 122616.84, 261776.23],
        [61994.48, 115641.28, 91131.24],
        [63408.86, 129219.61, 46085.25],
        [78013.11, 121597.55, 264346.06],
        [23640.93, 96189.63, 148001.11],
        [76253.86, 113867.3, 298664.47],
        [15505.73, 127382.3, 35534.17],
        [120542.52, 148718.95, 311613.29],
        [91992.39, 135495.07, 252664.93],
        [64664.71, 139553.16, 137962.62],
        [131876.9, 99814.71, 362861.36],
        [94657.16, 145077.58, 282574.31],
        [28754.33, 118546.05, 172795.67],
        [0.0, 116983.8, 45173.06],
        [162597.7, 151377.59, 443898.53],
        [93863.75, 127320.38, 249839.44],
        [44069.95, 51283.14, 197029.42],
        [77044.01, 99281.34, 140574.81],
        [134615.46, 147198.87, 127716.82],
        [67532.53, 105751.03, 304768.73],
        [28663.76, 127056.21, 201126.82],
        [78389.47, 153773.43, 299737.29],
        [86419.7, 153514.11, 0.0],
        [123334.88, 108679.17, 304981.62],
        [38558.51, 82982.09, 174999.3],
        [1315.46, 115816.21, 297114.46],
        [144372.41, 118671.85, 383199.62],
        [165349.2, 136897.8, 471784.1],
        [0.0, 135426.92, 0.0],
        [22177.74, 154806.14, 28334.72]], dtype=object),
 array([[66051.52, 182645.56, 118148.2],
        [100671.96, 91790.61, 249744.55],
        [101913.08, 110594.11, 229160.95],
        [27892.92, 84710.77, 164470.71],
        [153441.51, 101145.55, 407934.54],
        [72107.6, 127864.55, 353183.81],
        [20229.59, 65947.93, 185265.1],
        [61136.38, 152701.92, 88218.23],
        [73994.56, 122782.75, 303319.26],
        [142107.34, 91391.77, 366168.42]], dtype=object))

## linear

In [16]:
from sklearn import linear_model 
reg = linear_model.LinearRegression()
reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [17]:
reg.coef_

array([0.77884104, 0.0293919 , 0.03471025])

In [19]:
for i, j in zip(['R&D Spend', 'Administration', 'Marketing Spend'], reg.coef_):
    print(i,":",j)

R&D Spend : 0.7788410440821667
Administration : 0.029391899097552694
Marketing Spend : 0.034710254869420344

In [21]:
reg.predict(x_test), y_test

(array([103901.8969696 , 132763.05993126, 133567.90370044,  72911.78976736,
        179627.92567224, 115166.64864795,  67113.5769057 ,  98154.80686776,
        114756.11555221, 169064.01408795]),
 array([103282.38, 144259.4, 146121.95, 77798.83, 191050.39, 105008.31,
        81229.06, 97483.56, 110352.25, 166187.94], dtype=object))

In [23]:
reg.score(x_test, y_test)

0.9393955917820571

## SVR

In [32]:
from sklearn.svm import SVR

svr = SVR()
svr.fit(x_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [33]:
svr.predict(x_test)

array([107978.19, 107978.19, 107978.19, 107978.19, 107978.19, 107978.19,
       107978.19, 107978.19, 107978.19, 107978.19])

In [34]:
svr.score(x_test, y_test)

-0.15987876371363097