In [ ]:
import pandas as pd

se = pd.Series(range(10))
se

In [2]:
se = pd.Series(range(1, 10, 2))
se

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [3]:
se.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
se.index = ['a', 'b', 'c', 'd', 'e']

In [5]:
se

a    1
b    3
c    5
d    7
e    9
dtype: int64

In [6]:
se['a']

1

In [7]:
se[se > 3]

c    5
d    7
e    9
dtype: int64

In [8]:
se > 3

a    False
b    False
c     True
d     True
e     True
dtype: bool

In [9]:
se * 3

a     3
b     9
c    15
d    21
e    27
dtype: int64

In [10]:
[1,2,3,4,5] * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [11]:
#http://ip-api.com/json/naver.com
se2 = pd.Series({"as":"AS23576 NBP","city":"Seongnam-si (Buljeong-ro)","country":"Republic of Korea","countryCode":"KR","isp":"NBP","lat":37.3638,"lon":127.122,"org":"NBP","query":"125.209.222.142","region":"","regionName":"Gyeonggi-do","status":"success","timezone":"Asia/Seoul","zip":"13561"})

In [12]:
se2

as                           AS23576 NBP
city           Seongnam-si (Buljeong-ro)
country                Republic of Korea
countryCode                           KR
isp                                  NBP
lat                              37.3638
lon                              127.122
org                                  NBP
query                    125.209.222.142
region
regionName                   Gyeonggi-do
status                           success
timezone                      Asia/Seoul
zip                                13561
dtype: object

In [13]:
se2.isnull()

as             False
city           False
country        False
countryCode    False
isp            False
lat            False
lon            False
org            False
query          False
region         False
regionName     False
status         False
timezone       False
zip            False
dtype: bool

## 연습문제 풀이

In [14]:
import pandas as pd

se1 = pd.Series(range(16)) * 2
se1

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
11    22
12    24
13    26
14    28
15    30
dtype: int64

In [17]:
se1.index = list(se1)
se1

0      0
2      2
4      4
6      6
8      8
10    10
12    12
14    14
16    16
18    18
20    20
22    22
24    24
26    26
28    28
30    30
dtype: int64

In [18]:
se1[se1%4==0] = None
se1

0      NaN
2      2.0
4      NaN
6      6.0
8      NaN
10    10.0
12     NaN
14    14.0
16     NaN
18    18.0
20     NaN
22    22.0
24     NaN
26    26.0
28     NaN
30    30.0
dtype: float64

In [19]:
se1.isnull()

0      True
2     False
4      True
6     False
8      True
10    False
12     True
14    False
16     True
18    False
20     True
22    False
24     True
26    False
28     True
30    False
dtype: bool