In [ ]:
import pandas as pd

data = {
    'id' : [1,2,3],
    'name' : ['Choi', 'Lee', 'Kim'],
    'age' : [10,20,30],
    'assets' : [150.4, 123.4, 88.88],
    'job' : ['student', 'CEO', 'Dad']
}

df = pd.DataFrame(data)
df

In [ ]:
df.index = df['id']
df

In [ ]:
df.index

In [ ]:
df.loc[1]

In [ ]:
res = {1 : 'Bundang', 2: 'Seoul', 3:'Incheon' }
res_se = pd.Series(res)
res_se

In [ ]:
df['res'] = res_se # 시리즈를 데이터 프레임에 추가
df

In [ ]:
del df['id']

In [ ]:
df

In [ ]:
# 4번 인덱스에 행 추가
df.loc[4] = ['Hwang', 40, 100, 'Prog', 'Gangnam']
df

In [ ]:
df = df.drop(4) # 행 삭제

In [ ]:
df

In [ ]:
df.T

In [ ]:
df.values

In [ ]:
df['name'].values

In [ ]:
type(df['name']

In [ ]:
# 원하는 행렬값 출력하기
df.loc[1]['name']

## 연습문제

### 1. 구구단 1단부터 3단까지 출력하는 데이터프레임 df1을 생성하라(컬럼3x로우9).

In [ ]:
import pandas as pd

se1 = pd.Series(range(1,10))
se2 = se1 * 2
se3 = se1 * 3
se1

In [ ]:
dict1 = {1:se1, 2:se2, 3:se3}
df = pd.DataFrame(dict1)
df

## 2. df1의 인덱스를 한글로 바꿔라(1  ’일’, 2  ‘이’...)

In [ ]:
df.index = ['일', '이', '삼', '사', '오', '육', '칠', '팔', '구']
df

##  3. df1에 4단을 추가하라.

In [ ]:
se4 = se1 * 4
se4.index = ['일', '이', '삼', '사', '오', '육', '칠', '팔', '구']
df[4] = se4
df

## 4. df1의 1단을 11단으로 교체하라.

In [ ]:
se11 = se1 * 11
se11.index = ['일', '이', '삼', '사', '오', '육', '칠', '팔', '구']
df[1] = se11
df

## 5. df1의 11단을 삭제하라.

In [ ]:
del df[1]
df

## 6. 컬럼과 로우를 교차 시켜라.

In [ ]:
df.T

## 7. ‘오’와 ‘칠’ 인덱스를 제거하라.

In [ ]:
df.drop(['오','칠'])