In [ ]:
import numpy as np
import pandas as pd

se = pd.Series([1,np.nan,2,np.nan,3,np.nan,4,np.nan,5])
se

In [ ]:
# 드롭 시키기
se.dropna()

In [ ]:
# notnull()
se[se.notnull()]

In [ ]:
# 0으로 nan값 채우기
se.fillna(0)

In [ ]:
# 산술 평균으로 nan 값 채우기
se.fillna(se.mean())